---
---
{% include head.html %}

<div class="container-fluid p-0">
    
    <div class="container-lg px-3">
        {% include header.html %}
    </div>
    
    <div class="row px-4 py-5 my-5 bg-primary text-white text-center">
        <h1 class="display-5 fw-bold">به زودی!</h1>
        <p class="lead mb-4">
            این جا قرار است سایتی برای پروژه‌ی غیرتجاری زال باشد.
            <br>
            اگر می‌خواهید زال را بشناسید، به صفحه‌ی زیر بروید.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-center">
            <a href="{{ "about" | absolute_url }}" class="btn bg-white btn-lg px-4">زال چیست؟</a>
        </div>
    </div>
    <div class="row px-4 py-5 my-5 bg-secondary text-white text-center">
        <h1 class="display-5 fw-bold">پیش از همه باخبر شوید!</h1>
        <p class="lead mb-4">
            اگر می‌خواهید موقع افتتاح سایت اینجا باشید، شماره‌ی همراهتان را وارد کنید تا با پیامک به شما خبر بدهیم.
        </p>
        <div class="col-lg-6 mx-auto">
            <form class="row g-0 text-dark needs-validation" id="form" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScHsUmCVYJmH67qDFhVd_ia7mxoY5XbNdSgdWMmggAOu_JfNw/formResponse" novalidate>
                <div class="col-12 col-md-6 mb-3 px-3">
                    <div class="form-floating">
                        <input type="name" class="form-control" id="name" pattern="^[ آابپتثجچحخدذرزژسشصضطظعغفقکگلمنوهی]+$" placeholder="نام و نام خانوادگی" name="entry.748188054" required>
                        <label for="name">نام و نام خانوادگی</label>
                        <div class="invalid-feedback text-white">
                            نام و نام خانوادگی را درست وارد کنید.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 px-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="phone" pattern="09\d\d\d\d\d\d\d\d\d" placeholder="تلفن همراه" name="entry.1977671734" required>
                        <label for="phone">شماره‌ی همراه</label>
                        <div class="invalid-feedback text-white">
                            شماره‌ی همراه را درست وارد کنید.
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-center">
                    <input class="btn bg-white btn-lg px-4" type="submit" value="من را باخبر کن."></input>
                </div>
            </form>
            <div id="success" class="alert alert-light" style="display: none;" role="alert">
                <i class="bi bi-check-all"></i>
                به فهرست خبررسان پیامکی زال افزوده شدید. منتظرمان باشید.
            </div>
        </div>
    </div>
    
    {% include footer.html %}
</div>
