/* importing functions and mixins > */

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";

/* < importing functions and mixins */


/* overriding variables & customizing > */

$enable-negative-margins: true;

$primary: #4a0d66;
$secondary: #009200;
$light: #efecea;
$light-55: transparentize($light, .55);
$dark: #161920;

$custom-colors: ("light-55": $light-55);

$border-radius-sm: .375rem;
$border-radius: .75rem;
$border-radius-lg: 1.5rem;

$modal-fade-transform: none;

/* < overriding variables & customizing */


/* bootstrap magic! > */

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$breadcrumb-divider: $breadcrumb-divider-flipped;

/* < bootstrap magic! */


/* bootstrap-like styles > */

/* < bootstrap-like styles */

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 transparentize($primary, .55);
  }
  70% {
    box-shadow: 0 0 0 $spacer * .5 transparentize($primary, 1);
  }
  100% {
    box-shadow: 0 0 0 0 transparentize($primary, 1);
  }
}

@keyframes notification {
  0% {
    transform: rotate(0)
  }
  1.78571% {
    transform: rotate(5deg)
  }
  3.57143% {
    transform: rotate(0)
  }
  5.35714% { 
    transform: rotate(-5deg) 
  }
  7.14286% { 
    transform: rotate(0)
  }
  8.92857% { 
    transform: rotate(5deg) 
  }
  10.71429% { 
    transform: rotate(0) 
  }
  100% { 
    transform: rotate(0) 
  }
}

*:lang(fa) {
  font-family: "IranSansFN", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @extend .fw-bold;
}

ol:lang(fa) {
  list-style: arabic-indic;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

body {
  @extend .px-3;
  @extend .bg-light;
}

.container {
  max-width: 960px;
}

.modal-badge {
  @extend .p-0;
  transform-origin: 0 100%;
  transform: rotateZ(90deg) translateY(20%);
  transition: transform 0.25s ease-in-out;
  @extend .position-fixed;
  @extend .top-50;
  left: 0; // I should fix this!
  z-index: 1020;
  
  .btn-modal {
    @extend .pt-0;
    @extend .rounded-0;
  }

  &:hover {
    transform: rotateZ(90deg) translateY(-$spacer * .25);
  }
}

.modal {
  .modal-content {
    @extend .shadow-lg;

    .modal-header {
      @extend .p-4;
    }

    .modal-body {
      @extend .p-4;
    }

    .modal-footer {
      @extend .lh-1;
    }

    .btn-close {
      @extend .btn-danger;
      @extend .text-danger;
      @extend .ms-auto;
      @extend .pt-3;
      @extend .rounded-3;

      &:hover {
        color: inherit;
      }
    }
  }
}

.welcome-pop-up {
  @extend .modal;
  @extend .fade;

  .modal-dialog {
    @extend .modal-dialog-centered;
    @extend .position-relative;

    .welcome-icon {
      @extend .display-6;
      @extend .position-absolute;
      top: .5rem;
      left: .5rem;
    }

    .modal-content {
      .modal-header {
        @extend .pb-0;
        @extend .border-0;
        span {
          @extend h5;
          @extend p;
          @extend .fw-bold;
        }
      }

      .modal-body {
        @extend .pt-0;
      }

      .modal-footer {
        @extend .d-flex;
        @extend .flex-column;
        @extend .pt-0;
        @extend .border-0;        

        .btn-close {
          @extend .m-0;
        }
        
        .text-muted {
          @extend .mt-2;
          font-size: 90%;
        }
      }
    }
  }
}

.header {
  h1 {
    color: $primary;
    @extend .display-3;
    font-weight: bold;
  }
}

.content-wrapper {
  @extend .gap-1;
  @extend .justify-content-center;
  @extend .p-4;
  @extend .rounded-3;
}


.promotion {
  @extend .content-wrapper;
  @extend .bg-primary;
  @extend .text-white;
  animation: pulse 5s infinite;
  @extend .position-relative;

  .promotion-icon {
    @extend .mt-3;
    width: auto;
    @extend .position-absolute;
    @extend .top-0;
    left: 0;
    animation: notification 2.5s infinite;
  }
}

main {
  @extend .content-wrapper;
  @extend .bg-white;

  .archive-container {
    @extend .row;
    @extend .p-0;

    .archive-item {
      @extend .col-sm-12;
      @extend .col-lg-6;
      @extend .mb-3;
    }
  }
}

.meta {
  font-size: 90%;

  ul {
    @extend .nav;

    li {

      &::before {
        color: $breadcrumb-divider-color;
      }

      &:first-child::before {
        /*rtl:ignore*/
        padding: 0 0 0 2px;
        /*rtl:ignore*/
      }
      
      &:not(:first-child)::before {
        /*rtl:ignore*/
        padding: 0 $breadcrumb-item-padding-x 0 2px;
        /*rtl:ignore*/
        content: "";
      }

      i {
        /*rtl:ignore*/
        margin-left: 4px;
        /*rtl:ignore*/
        color: $breadcrumb-divider-color;
        font-size: 95%;
      }
    }
  }

  .tags {
    color: $breadcrumb-divider-color;

    li {
      &::before {
        content: "#" !important;
      }

      &:first-child::before {
        padding: 0;
      }
      
      &:not(:first-child)::before {
        /*rtl:ignore*/
        padding: 0 $breadcrumb-item-padding-x 0 0;
        /*rtl:ignore*/
      }
    }
  }
}

.card {
  @extend .rounded-3;
  @extend .border-0;
  transition: all .25s ease-in-out;

  .card-body {
    @extend .p-0;

    .card-text {
      @extend .mt-3;

      .card-feature {
        @extend .d-flex;
        @extend .align-items-start;

        svg {
          @extend .flex-shrink-0;
          @extend .mt-2, .ms-0, .me-2;
          max-width: 24px;
        }

        h3 {
          @extend .mb-0;
        }

        p {
          @extend .m-0;
        }
      }
    }
  }

  &:hover {
    transform: scale(1.025);
  }
}

.breadcrumb {
  list-style: none !important;
}


.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  transition: opacity .25s ease-in-out;
  position: absolute;
  position: sticky;
  top: $spacer;
  font-size: 90%;
  color: $breadcrumb-divider-color;
  
  .toc-toggler {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $spacer;
    border-radius: 50rem;
    background-color: $light-55;
    line-height: 1;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    cursor: pointer;
    @extend .user-select-none;
    transition: color .25s ease-in-out;

    svg {
      transition: transform .25s ease-in-out;
    }

    svg.expand {
      transform: rotateZ(180deg);
    }

    &:hover {
      color: $dark;
    }
  }

  .toc-toggler.expand {
    color: $dark;
  }

  .toc {
    display: none;
    visibility: hidden;
    width: 0;
    @extend .me-3;
    position: absolute;
    top: 0;
    @extend .end-100;
    color: $dark;

    .toc-inner {
      background-color: $light;
      padding: $spacer;
      border-radius: $border-radius-lg;
      opacity: 0;
      visibility: hidden;
      max-width: 720px;
      font-size: 134%;

      .toc-items {
        visibility: hidden;
      }
    }
  }

  .toc.expand {
    display: block;
    visibility: visible;
    width: 60vw;
    max-width: 720px;

    .toc-inner {
      opacity: 1;
      visibility: visible;

      .toc-items {
        visibility: visible;
      }
    }
  }
}

.share {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $spacer;
  padding: $spacer;
  border-radius: 50rem;
  background-color: $light-55;
  top: $spacer;
  z-index: 1000;

  i {
    transition: color .25s ease-in-out;

    &:hover {
      color: $dark;
    }
  }
}

.accordion-button, .accordion-button:focus, .accordion-button:not(.collapsed) {
  justify-content: start;
  align-items: center;
  background-color: inherit;
  border: none;
  box-shadow: none;
  padding: 0;
  color: inherit;

  &::after {
    display: none;
  }

  svg {
    transition: transform .25s ease-in-out;
  }
  
  svg.expand {
    transform: rotateZ(180deg);
  }
}

footer {
  font-size: 90%;

  i {
    font-size: 134%;
  }
}


.navbar-container {
  display: flex;
  transition: opacity .25s ease-in-out;
  position: fixed;
  @extend .bottom-0;
  @extend .start-0;
  @extend .m-3;

  .navbar {
    padding-top: 0;
    background-color: $primary;
    border-radius: $border-radius;

    .navbar-nav {
      display: grid;
      grid-template-columns: 1fr;
      margin-inline: 0;
      padding-inline: 0;

      .navbar-title {
        margin: 0;
        padding: 0 $spacer * .5 $spacer * .25 $spacer * .5;
        background-color: rgba($white, .55);
        border-radius: $border-radius $border-radius $border-radius;
        font: inherit;
        color: $navbar-dark-brand-color;
        text-align: center;
        transition: border-radius .25s ease-in-out;

        a {
          all: unset;
          cursor: pointer;
        }
      }

      .navbar-title.expand {
        @extend .rounded-0;
        @extend .rounded-top;
      }

      .nav-item {
        margin-top: $spacer * .25;
        padding: $spacer * .5;
        display: flex;
        align-items: center;
        aspect-ratio: 1;

        .nav-link {
          width: 100%;
          @extend .vstack;
          justify-content: center;
          padding: 0;
          text-align: center;
          line-height: 1;

          i {
            font-size: 150%;
          }
        }
      }
    }
  }
}

#backToTopButton {
  color: $primary;
  line-height: 0;
  cursor: pointer;
  transition: all .25s ease-in-out;
  opacity: 0;
  visibility: hidden;
  margin-top: auto;
  position: fixed;
  @extend .bottom-0;
  @extend .end-0;
  @extend .m-3;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
}


