<nav class="my-3 text-muted" id="breadcrumbs">
    <i class="bi bi-signpost-split-fill"></i> شما اینجا هستید:
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <a class="link-unstyled text-muted" href="{{ site.url }}">{{ site.title }}</a>
    {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
    > <span class="fw-bold">{{ page.title }}</span>
    {% else %}
    > <a class="link-unstyled text-muted" href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{
        crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
    {% endif %}
    {% endfor %}

</nav>