<!DOCTYPE html>
<html lang="{{ site.locale }}" dir="{{ site.direction }}">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ 'assets/css/style.css' }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <title>{{ site.title }}</title>
    </head>

    <body class="bg-light">