@font-face {
	font-family: IranYekanFN;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/Iran/woff/IranYekanThiFN.woff') format('woff'),
	url('../fonts/Iran/woff2/IranYekanThinFN.woff2') format('woff2'),
	url('../fonts/Iran/ttf/IranYekanThinFN.ttf') format('truetype');
}

@font-face {
	font-family: IranYekanFN;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Iran/woff/IranYekanLightFN.woff') format('woff'),
	url('../fonts/Iran/ttf/IranYekanLightFN.ttf') format('truetype');
}

@font-face {
	font-family: IranYekanFN;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Iran/woff/IranYekanRegularFN.woff') format('woff'),
	url('../fonts/Iran/woff2/IranYekanRegularFN.woff2') format('woff2'), 
	url('../fonts/Iran/ttf/IranYekanRegularFN.ttf') format('truetype');
}

@font-face {
	font-family: IranYekanFN;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/Iran/woff/IranYekanMediumFN.woff') format('woff'),
	url('../fonts/Iran/woff2/IranYekanMediumFN.woff2') format('woff2'),
	url('../fonts/Iran/ttf/IranYekanMediumFN.ttf') format('truetype');
}

@font-face {
	font-family: IranYekanFN;
	font-style: normal;
	font-weight: Bold;
	src: url('../fonts/Iran/woff/IranYekanBoldFN.woff') format('woff'),
	url('../fonts/Iran/ttf/IranYekanBoldFN.ttf') format('truetype');
}

@font-face {
	font-family: IranYekanFN;
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/Iran/woff/IranYekanExtraboldFN.woff') format('woff'),
	url('../fonts/Iran/woff2/IranYekanExtraboldFN.woff2') format('woff2'),
	url('../fonts/Iran/ttf/IranYekanExtraboldFN.ttf') format('truetype');
}

@font-face {
	font-family: IranYekanFN;
	font-style: normal;
	font-weight: 850;
	src: url('../fonts/Iran/woff/IranYekanBlackFN.woff') format('woff'),
	url('../fonts/Iran/woff2/IranYekanBlackFN.woff2') format('woff2'),
	url('../fonts/Iran/ttf/IranYekanBlackFN.ttf') format('truetype');
}

@font-face {
	font-family: IranYekanFN;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/Iran/woff/IranYekanExtrablackFN.woff') format('woff'),
	url('../fonts/Iran/woff2/IranYekanExtrablackFN.woff2') format('woff2'),
	url('../fonts/Iran/ttf/IranYekanExtrablackFN.ttf') format('truetype');
}

@font-face {
	font-family: IranSansFN;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Iran/woff/IranSansRegularFN.woff') format('woff'), 
	url('../fonts/Iran/woff2/IranSansRegularFN.woff2') format('woff2'),
	url('../fonts/Iran/ttf/IranSansRegularFN.ttf') format('truetype');	 
}

@font-face {
	font-family: IranSansFN;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Iran/woff/IranSansBoldFN.woff') format('woff'),
	url('../fonts/Iran/woff2/IranSansBoldFN.woff2') format('woff2'),
	url('../fonts/Iran/ttf/IranSansBoldFN.ttf') format('truetype');	 
}
