{% for shortcut in site.data.menus.shortcuts %}

{% case shortcut.bg-color %} 
{% when "dark", "primary", "secondary" %}
{% assign color = "white" %}
{% else %}
{% assign color = "black" %}
{% endcase %}

<div class="card {% unless forloop.last == true %}mb-3{% endunless %}">
    <div class="card-body rounded bg-{{ shortcut.bg-color }} text-{{ color }}">
      <h5 class="card-title">
          {{ shortcut.title }}
      </h5>
      <p class="card-text m-0">
          {{ shortcut.description }}
      </p>
    </div>
  </div>
{% endfor %}